# Java/Gradle
backend/.gradle/
backend/build/
backend/out/

# DB & Runtime
backend/mysql_data/
backend/logs/
dbdata/

# IDE
**/*.iml
.idea/
.vscode/

# Node/Frontend
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/.vite/
frontend/build/

# OS
.DS_Store
Thumbs.db
